body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #405de6; /* Instagram blue color */
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #405de6;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5a67d8;
}
.video-container {
    max-width: 100%;
    margin-top: 20px;
}

video {
    width: 100%;
    display: block;
    border-radius: 5px;
}
p {
    text-align:center;
    color:black; /* Instagram blue color */
}